.modernContanerWidth {
  width: 90%;
  margin: 0 10px;
}

/* MAIN STYLES */
body {
  background: #f5f6f8 !important;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 760px) {
  body {
    font-size: 16px;
  }
  input,
  select {
    font-size: 100%;
  }
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.form_Wrapper {
  width: 100%;
}

.custom_container {
  width: 100%;
  margin: 0 auto;
}

.custom_container_small {
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .custom_container_small {
    width: 90%;
    margin: 0 auto;
  }
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.justify_end {
  justify-content: flex-end;
}

.justify_evenly {
  justify-content: space-evenly;
}

.flex_wrapper {
  flex-wrap: wrap;
}

.right_align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*  COLORS   */

.mainColor {
  color: #9c27b0 !important;
}

.mainColorBg {
  background-color: #9c27b0 !important;
}

.white {
  color: #eee;
}

.dark {
  color: rgb(43, 43, 43);
}

.sub_dark {
  color: rgb(82, 82, 82);
}

.sub_white {
  color: rgb(189, 184, 184);
}

.error {
}

/* FONTS SIZEZ AND SPACES */

h1,
h2,
h3,
h4,
h5 {
  margin: 0.1rem !important;
}

p {
  margin: 0.07rem !important;
  font-size: 14px;
}

.subP {
  font-size: 10px;
}

/* SPACES */

.p1 {
  padding: 5px !important;
}

.p2 {
  padding: 10px !important;
}

.p3 {
  padding: 15px !important;
}

.p4 {
  padding: 20px !important;
}

.ph1 {
  padding: 5px 0 !important;
}

.ph2 {
  padding: 10px 0 !important;
}

.ph3 {
  padding: 15px 0 !important;
}

.ph4 {
  padding: 20px 0 !important;
}

.pv1 {
  padding: 0 5px !important;
}

.pv2 {
  padding: 0 10px !important;
}

.pv3 {
  padding: 0 15px !important;
}

.pv4 {
  padding: 0 20px !important;
}

.mv1 {
  margin: 0 5px !important;
}

.mv2 {
  margin: 0 10px !important;
}

.mv3 {
  margin: 0 15px !important;
}

.mv4 {
  margin: 0 20px !important;
}

.center_component {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_component_fix {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN NAV */

.active {
  font-weight: 800 !important;
  background-color: rgba(224, 224, 224, 0.219);
  border-radius: 10px;
}

.mainNav-desktop {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.mainNav-mobile {
  display: none !important;
}

.field_input_add_product {
  width: 60% !important;
}

@media only screen and (max-width: 960px) {
  .mainNav-desktop {
    display: none !important;
  }
  .mainNav-mobile {
    display: flex !important;
  }
}

@media only screen and (max-width: 768px) {
  .modernContanerWidth {
    width: 80%;
  }
}

/*
    Transition Groups */

.page {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in;
}

.relative {
  position: relative;
}

.item-enter {
  position: absolute;
  opacity: 0;
  transition: all 50ms ease-in;
}

.item-enter-active {
  position: absolute;
  opacity: 1;
  transition: all 50ms ease-in;
}

.item-exit {
  position: absolute;
  opacity: 1;
  transition: all 100ms ease-in;
}

.item-exit-active {
  position: absolute;
  opacity: 0;
  transition: all 100ms ease-in;
}

/* Under Construction */
.under_construction {
  background: black;
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.underCunstruction_navbar button {
  position: absolute;
  right: 20px;
}

/* HOME PAGE */

.card3 {
  height: 300px;
  margin: 5 20px;
}

a:hover {
  width: auto;
  text-decoration: none !important;
}

a {
  width: auto;
  text-decoration: none !important;
}

.card3_wrapper a {
  width: 90%;
  margin: 5 20px;
  transition: all 0.3s;
}

.background_fade_navBar {
  background: rgb(7, 7, 7);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(56, 14, 14, 0.08) 100%
  );
}

.makeStyles-grid-379 {
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin-top: 35px !important;
}

.makeStyles-grid-270 {
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin-top: 35px !important;
}

.makeStyles-grid-178 {
  margin: 0 !important;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(90vh - 80px) !important;
}

.image-gallery-slide img {
  height: auto;
  max-width: 70% !important;
  border-radius: 3px;
}

.product_ditail_inside_wrapper {
  padding: 0 40px;
  background-color: white;
}

.black {
  color: #fff;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(233, 30, 99, 0.46);
  background-color: #272727 !important;
}

.admin_layout {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.admin_sidebar_wrapper {
  min-height: 60vh;
  background-color: #eee;
  padding: 20px 20px;
}

.admin_main_wrapper {
  width: 80%;
  margin: 0 auto;
}

.ui.multiple.search.selection.dropdown {
  min-height: 55px;
  border: 1px solid rgb(203, 203, 203) !important;
}

.ui.multiple.search.selection.dropdown div {
  padding-top: 10px !important;
  color: #838383 !important;
}

.image-gallery-icon {
  zoom: 0.5;
}

.select_options option {
  width: 100%;
  padding: 20px 50px;
  background: white;
}

@media only screen and (max-width: 960px) {
  .product_ditail_inside_wrapper {
    padding: 5px;
    background-color: white;
  }
  .admin_layout {
    display: grid;
    grid-template-columns: 1fr;
  }
  .admin_sidebar_wrapper {
    display: none;
  }
  .admin_main_wrapper {
    width: 95%;
    position: relative;
    flex-wrap: wrap;
    overflow-x: scroll;
    min-height: 50vh;
  }
}

/* GRID SYSTEM */

div {
  margin: 0;
  padding: 0;
}

.page_wrapper {
  width: 100%;
}
.page_wrapper_central {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.grid_4_main_wrapper {
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px auto;
}

.grid_1_main_wrapper {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px auto;
}

.grid_4_item_wrapper {
  height: 100%;
  width: 100%;
}

.grid_4_product_wrapper {
  background: rgb(231, 231, 231);
  margin: 2px 2px;
}

.grid_4_product_wrapper {
}

.grid_image_with img {
  width: 100%;
}

.grid_product_footer_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1150px) {
  .grid_4_main_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 940px) {
  .grid_4_main_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 650px) {
  .grid_4_main_wrapper {
    grid-template-columns: 1fr;
  }
}

/* DROPZONE */

.drop_zone_styled {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(229, 231, 250);
  border: dotted 1px rgb(130, 140, 228);
}

.drop_zone_styled:hover {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(202, 207, 252);
  border: dotted 1px rgb(177, 184, 245);
}

.drop_zone_styled h4 {
  color: rgb(130, 140, 228);
}

/* ADMIN PAGES */

.add_template_modal {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_template_paper {
  min-height: 60%;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  .add_template_paper {
    min-height: 70%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.svg_manage {
  width: 100%;
}

.order_button {
  width: 300px;
  height: 100px;
  margin: 50px !important;
  color: white;
  position: relative;
  overflow: hidden;
}

.mian_bg_button {
  width: 100%;
  height: 100%;
  background: rgb(22, 22, 22);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 1;
  transform: rotateX(40);
  cursor: pointer;
}

.button_ani_1 {
  width: 10%;
  height: 100%;
  background: rgb(237, 237, 237);
  background: linear-gradient(
    270deg,
    rgba(237, 237, 237, 0) 0%,
    rgba(250, 243, 234, 0.445) 64%,
    rgb(160, 160, 160, 0.6) 50%,
    rgba(224, 224, 223, 0.3) 38%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  z-index: 11;
  left: -30px;
}

.order_button:hover .button_ani_1 {
  width: 10%;
  height: 100%;
  position: absolute;
  z-index: 11;
  left: 300px;
  transition: all 0.8s;
}

.profile_box_wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  margin-top: 10px;
}

.vip_show_Links {
  width: 100%;
  height: 70px;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  cursor: pointer !important;
}
.vip_show_Links a {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage_profile_link_box {
  width: 100%;
  height: 70px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(133, 133, 133);
  margin: 10px 0;
  cursor: grab;
}

.vip_show_header {
  margin-top: 10px;
  padding: 20px;
}

.vip_show_no_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9c27b0;
  color: white;
}

.input-field {
  position: relative;
}

.inputs_wrapper {
  position: relative;
  width: 100%;
  padding: 30px;
  background: rgb(209, 209, 209);
}
.manage_profile_page_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.manage_profile_links_wrapper {
  width: 50%;
  max-width: 700px;
  padding: 0 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid rgb(167, 167, 167);
}

.manage_profile_save_button {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;

  margin: 20px 0;
  border-radius: 5px;
}

.button_active {
  background: rgb(92, 221, 92);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.button_active:hover {
  background: rgb(75, 194, 75);
  color: white;
  font-weight: 600;
  box-shadow: rgb(124, 145, 121) 1px 1px 3px;
}

.button_active:active {
  background: rgb(75, 194, 75);
  color: white;
  font-weight: 600;
  box-shadow: rgb(250, 250, 250) 0px 0px 0px;
}

.button_dissabled {
  background: rgb(255, 255, 255);
  color: rgb(179, 179, 179);
}

.manage_links_display_section {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin-top: 10px;
}

@media only screen and (max-width: 760px) {
  .manage_profile_links_wrapper {
    width: 100% !important;
    padding: 10px;
  }
  .manage_links_display_section {
    display: none;
  }
  .manage_links_display_section_mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-top: 10px;
  }
  .manage_profile_page_wrapper {
    flex-direction: column;
  }
}
@media only screen and (min-width: 760px) {
  .manage_links_display_section_mobile {
    display: none !important;
  }
}

.edit_links_nav_bar {
  width: 100%;
  background: white;
  padding: 0;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(56, 39, 39, 0.11);
  /* position: fixed;
  left: 0;
  width: 50%;
  top: 85px; */
}

.edit_links_nav_bar_links_wrapper {
  display: flex;
  flex-direction: row;
}
.edit_links_nav_bar ul {
  padding: 0;
  margin: 0;
}
.edit_links_nav_bar_links_wrapper li {
  position: relative;
  list-style: none;
  padding: 20px 20px;
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .edit_links_nav_bar_links_wrapper li {
    padding: 10px 10px;
    font-size: 12px;
  }
}

.edit_links_nav_bar_links_wrapper li::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 2px;
  transition: width 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.edit_links_nav_bar_links_wrapper li:hover::after {
  width: 100% !important;
  background: rgb(212, 212, 212);
}

.edit_links_nav_bar_back_title {
  padding: 10px 10px;
}

.activeLink::after {
  width: 100% !important;
  background: black;
}
.theme_section_wrapper {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.theme_select_theme_wapper {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  margin: 10px 0;
  cursor: pointer;
}

.active_theme_button {
  background: lightblue;
}

.edit_links_add_button {
  width: 100%;
  margin: 16px auto !important;
  background: rgb(92, 221, 92) !important;
  height: 50px;
  color: rgb(250, 250, 250) !important;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.edit_links_add_button:hover,
.edit_links_add_button:active {
  background: rgb(78, 192, 78) !important;
  box-shadow: rgb(57, 139, 57) 1px 1px 3px;
}

.edit_links_container_wrapper {
  width: 100%;
  padding: 8px;
}

.edit_links_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  box-shadow: rgb(207, 207, 207) 2px 2px 4px;
}

.edit_links_links_container {
  width: 95%;
}

.edit_links_dragerber_bar {
  width: 30px;
  height: 110px;
  border-right: 1px solid rgb(196, 196, 196);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move !important;
}

.edit_links_container input {
  border: none;
  background: none !important;
}

.edit_links_container input:focus {
  outline: none;
}

::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}
.edit_links_container_contents {
  padding: 10px;
  width: 100%;
}

.edit_links_container_contents .edit_links_title {
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 8px 0;

  width: 70%;
}

.edit_links_container_contents .edit_links_link {
  color: #636262;

  width: 100%;
}

.edit_links_right_actions {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit_links_right_actions .MuiFormControlLabel-root {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: -11px;
  margin-right: 0;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.edit_links_delete {
  width: 100%;

  text-align: center;
  cursor: pointer;
}

.edit_links_delete {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.edit_links_delete .edit_links_delete_icon {
  color: rgb(167, 167, 167);
}
.edit_links_delete .edit_links_delete_icon:hover {
  color: rgb(245, 20, 20);
}

.edit_link_error_message {
}

.manage_links_display_wrapper {
  width: 360px;
  height: 750px;
  border-radius: 30px;
  border: 10px solid black;
  overflow-y: scroll;
  position: relative;
}

.links_display_tippi_branding {
  position: absolute;
  bottom: 0px;
  padding: 4px;
  width: 100%;
  text-align: center;
  height: 30px;
}

.vip_show_bottom_logo {
  position: fixed;
  bottom: 0px;
  padding: 10px;
  background-color: #000000;
  width: 100%;
  text-align: center;
}

.vip_front_link_Wrapper {
  margin-bottom: 50px;
}

.MuiAppBar-positionFixed {
  color: #fff;
  box-shadow: none;
  padding-top: 25px;
  background-color: black !important;
}

.tshirt_builder_page_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tshirt_builder_wrapper {
  width: 100%;
  justify-content: space-between;
}

.tshirt_builder_section {
  position: relative;
  background-color: #ffffff;
  width: 100%;
}

.tshirt_image_wrapper {
  display: flex;
  width: 480px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transform: scale(1, 1)!important
}
.tshirt_image_wrapper img {
  width: 100%;
}
.tshirt_image_pattern_design_wrapper img {

  min-width: 70px;
  
}


@media only screen and (max-width: 900px) {
  .tshirt_image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .tshirt_image_pattern_design_wrapper img {
    width: 45px;
  }
}


.tshirt_image_wrapper_tshirt img {

   min-height: 100px;
   min-width: 100px;
   padding: 5px
}

.tshirt_builder_container_section {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.tshirt_image_pattern_design_wrapper {
  position: absolute;
  margin-top: -40px;
}
.tshirt_image_design {
  position: absolute;
  transition: all 0.7s;
  top: 0;
  touch-action: none;
  user-select: none;
}
.tshirt_image_pattern {
  position: absolute;
}

.tshirt_image_design img,
.tshirt_image_pattern_design_wrapper img {
  transition: all .3s;
}


.tshirt_builder_config {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
}

.tshirt_builder_customizer_section {
  background-color: rgb(231, 231, 231);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  min-height: 110px;
  touch-action: none;
}

.tshirt_builder_customizer_section p {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  .tshirt_builder_customizer_section {
    min-height: 150px;
  }
}

.tshirt_builder_customizer_selector {
  position: relative;
  display: flex;
  flex-direction: "row";
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  touch-action: none;
  background-color: rgb(192, 192, 192);
  height: 60px;
}
 
.tshirt_builder_adjusment_buttons {
  touch-action: none;
}

.add_to_card_button {
  width: 100%;
  height: 70px;
  flex: 1;
  background-color: black;
  color: white;
}

.add_to_card_button_wrapper {
  display: flex;
  width: 400px;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.tippi_button_standard:hover {
  background-color: blueviolet !important ;
}

.priceDiscounted {
  text-decoration: line-through;
  font-size: 20px;
  padding-left: 10px;
  color: rgb(121, 121, 121);
}

.add_card_wrapper {
  display: flex;
  align-items: center;
}
.add_card_wrapper p {
  color: white;
}




.customizer_selector_focus_box{
  position: absolute;
  border: 2px solid rgb(165, 165, 165);
  width: 200px;
  height: 60px;
}

.customizer_selector_focus_box img{
  width: 200px;
  height: 60px;
}

@media only screen and (max-width: 900px) {
  .customizer_selector_focus_box img{
    width: 150px;
    height: 60px;
  }
}